p,
a {
    letter-spacing: -0.32px;
}

#our-work {
    color: var(--gray-80);
    text-align: center;
    margin-bottom: 5dvh;
}

#our-work svg {
    fill: var(--gray-80);
    animation: 4s ease-in-out infinite point-down;
}

#our-work p {
    margin-bottom: .5rem;
}

@keyframes point-down {
    0%, 10%, 40%, 100% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(0, 1rem, 0);
    }
}