p,
a {
    letter-spacing: -0.32px;
}

#hero h1 {
    font-size: 5.2rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: -3.6px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
    font-family: 'Quicksand', sans-serif;
}

h1 span {
    color: var(--secondary);
}

/* #cursor {
    animation: 1.2s infinite steps(1) blink;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
} */